body{
  background-color: #f2f2f2;
}

header {
  display: flex;
  justify-content: center;
  background-color: #000000;
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;
}

header > a{
  color: #00a3aa;
  margin-left: 30px;
}

header > a:hover{
  background-color: white;
}


.home{
  display: none;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

#me{
  grid-column: 3;
  grid-row: 3;
  width: 80%;
}

h1{
  grid-column: 3;
  grid-row: 1;
  margin-left: -40px;
  text-align: center;
  font-family: 'Lora', serif;
}

#quote{
  grid-column: 3;
  grid-row: 4;
  font-family: 'Roboto Mono', monospace;
}


.lang{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100px 30% 30% 100px;
}

#logo_1{
  /*display: none;*/
  display: grid;
  grid-column: 3;
  grid-row: 2;
  height: 400px;
}

#blurb_1{
  /*display: none;*/
  display: grid;
  grid-column: 2;
  grid-row: 3;
  width: 200%;
  margin-left: 200px;
  margin-top: 150px;
  text-align: center;
}

#logo_2, #logo_3, #logo_4, #logo_5, #logo_5, #logo_6, #logo_7, #logo_8, #logo_9, #logo_10 
{
  display: none;
  grid-column: 3;
  grid-row: 2;
  height: 400px;
}

#blurb_2, #blurb_3, #blurb_4, #blurb_5, #blurb_6, #blurb_7, #blurb_8, #blurb_9, #blurb_10
{
  display: none;
  grid-column: 2;
  grid-row: 3;
  width: 200%;
  margin-left: 200px;
  margin-top: 150px;
  text-align: center;
}

.left_arrow{
  display: grid;
  grid-column: 2;
  grid-row: 3;
  width: 20%;
  opacity: .5;
}

.left_arrow:hover{
  cursor: pointer;
  opacity: 1;
}

.right_arrow{
  display: grid;
  grid-column: 5;
  grid-row: 3;
  width: 20%;
  opacity: .5;
}

.right_arrow:hover{
  cursor: pointer;
  opacity: 1;
}

.exp{

}