
.me{
  width: 30%;
  border-radius: 7px;
}

h1{
  text-align: center;
  font-family: 'Lora', serif;
}

h4{
  font-family: 'Roboto Mono', monospace;
}

.nav{
    background-color: black;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a:hover{
  background-color: white;
}
.nav a{
    font-family: 'Roboto Mono', monospace;
    display:inline-block;
    padding:10px;
}